body {
    font-family: 'Poppins', sans-serif !important;
    background-color: #1D1E28;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    border-top: 6px #AD91FF solid !important;
    font-size: 16px;
}

.nav-link {
     font-size: 14px !important;
     background: transparent !important;
     font-family: Lato, sans-serif !important;
     text-transform: capitalize !important;
 }
 .nav-link:hover {
     background: transparent !important;
     color: #AD91FF !important;
     font-weight: bold !important;
 }

 .login-btn {
     border: 2px solid #AD91FF !important;
     font-size: 10px !important;
 }
 .login-btn:hover {
     background: #AD91FF !important;
 }
.navbar {
    box-shadow: none !important
}

.navbar-brand {
    font-size: 25px !important
}

.navbar-toggler-icon {
    color: #fff !important
}

.btn {
    border-radius: 10px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}

.btn-primary {
    background-color: #AD91FF!important
}
.btn-secondary {
    background-color: #2C2F33 !important
}
.heading {
    padding: 160px 50px !important;
    color: #fff !important;
    background-image: url("../assets/wavy-purple-by-nouridio.svg") !important;
    background-position: bottom !important;
    background-size: 300% !important;
    background-repeat: no-repeat !important;
}

.title {
    line-height: 90px !important;
    margin-bottom: -2px !important;
    font-size: 36px !important
}

.subtitle {
    color: rgba(255, 255, 255, 0.685) !important;
    font-size: 16px !important;
    font-family: 'Lato', sans-serif;
}


.features {
    text-align: center !important;
    background: #AD91FF !important;
    padding: 60px 50px !important;
    background-image: url("../assets/wavy-dark-by-nouridio.svg") !important;
    background-position: bottom !important;
    background-size: 200% !important;
    background-repeat: no-repeat !important;
}
.features .title {
    font-size: 40px !important;
    color: #ffffff !important;
    line-height: 70px !important;
}

.features .subtitle {
    font-size: 20px !important;
    color: #a2a8bd;
}

.features .card-body {
    text-align: left !important;
}

.features .card-title {
    margin: 0 0 -3px !important;
}
.cards {
    margin-top: 30px !important;
}

.card {
    border-radius: 5px !important;
    box-shadow: none !important;
}

.card-title {
    font-size: 28px !important;
    font-weight: 600 !important;
    color: #AD91FF !important;
}

.statistics {
    text-align: center !important;
    padding-top: 300px !important;
}

.statistics .card-body{
    padding: 0 !important;
    height: 280 !important;
    width: 332 !important;
    max-height: 280 !important;
    max-width: 332 !important;
}

.statistics .title {
    font-size: 40px !important;
    color: #ffffff !important;
    line-height: 70px !important;
}

.statistics .subtitle {
    font-size: 20px !important;
    color: #a2a8bd;
}

.card.statistic {
    background: transparent !important;
    box-shadow: none !important;
    color: #f7f7f7 !important;
}


.page_end {
    background-image: url("../assets/wavy-light-by-nouridio.svg") !important;
    background-position: bottom !important;
    background-size: 200% !important;
    background-repeat: no-repeat !important;
}
.start {
    padding: 60px 50px !important
}

.start .card {
    background: transparent !important;
    color: #f6f9ff !important;
}

.features .card {
    background: #1D1E28;
    border-radius: 22px !important;
    border: 4px solid #AD91FF;
}
.features .card-text {
color: rgba(255, 255, 255, 0.46) !important
}

.features .card-body {
    padding: 40px 40px 40px 30px !important;
}

.navbar-toggler-icon {
    color: #fff !important
}
.footer {
    text-align: center !important;
    padding: 5px 6px !important;
    color: #ecf2ff;
    padding: 30px 30px !important
}

.footer .nouridio {
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 5px !important;
    letter-spacing: 0.15em !important;
    font-variant: small-caps !important;
}

.footer .nouridio a {
    color: #AD91FF !important;
    text-decoration: none !important;
}

.footer .bot-footer {
    text-align: center !important;
    color: #a2a8bd !important
}

.commandstitle {
    color: #ffffff;
}
.commandssub {
    color: gray;
}
.searchbox {
    background-color: #2b2a38;
    padding: 15px 27px;
    font-size: 20px;
    color: #ccc;
    border: 3px solid #2b2a38;
    border-radius: 8px;
    width: 40%;
}
.border {
    width: 65%;
    height: 2px;
    background: #fff;
    margin-left: 17.5%;
}
.collapsible {
    background-color: #202225;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 23px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .collapsible span {
    font-size: 14px;
    color: grey;
}
.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  .content {
    padding: 0 18px;
    width: 50%;
    margin-left: 25%;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: #2f3136;
    color: #6a707a;
    text-align: left;
    display: none;
  }
  .content h4 {
    margin-top: 12px;
    font-size: 20px;
    font-family: 'Cairo';
  }

  .card{
    background-color: rgb(255, 251, 251);
    color: red;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: 0px 1rem 1.5rem rgba(0,0,0,0.5);
  }
  
  .card .banner{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 11rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;
  }
  .card .banner img{
    background-color: #fff;
    width: 8rem;
    height: 8rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
    border-radius: 50%;
    transform: translateY(50%);
    transition: transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }
  
  .card .banner img:hover{
    transform: translateY(50%) scale(1.3);
  }
  
  .card h2.name{
    text-align: center;
    padding: 0 2rem 0.5rem;
    margin: 0;
  }
  
  .card .title{
    color: #a0a0a0;
    font-size: 0.85rem;
    text-align: center;
    padding: 0 2rem 1.2rem;
  }
  
  .card .actions{
    padding: 0 2rem 1.2rem;
    display: flex;
    flex-direction: column;
    order: 99;
  }
  
  .card .actions .follow-info{
    padding: 0 0 1rem;
    display: flex;
  }
  
  .card .actions .follow-info h2{
    text-align: center;
    width: 50%;
    margin: 0;
    box-sizing: border-box;
  }
  
  .card .actions .follow-info h2 a{
    text-decoration: none;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.8rem;
    transition: background-color 100ms ease-in-out;
  }
  
  .card .actions .follow-info h2 a span{
    color: #1c9eff;
    font-weight: bold;
    transform-origin: bottom;
    transform: scaleY(1.3);
    transition: color 100ms ease-in-out;
  }
  
  .card .actions .follow-info h2 a small{
    color: #afafaf;
    font-size: 0.85rem;
    font-weight: normal;
  }
  
  .card .actions .follow-info h2 a:hover{
    background-color: #f2f2f2;
  }
  
  .card .actions .follow-info h2 a:hover span{
    color: #007ad6;
  }
  
  .card .actions .follow-btn button{
    color: inherit;
    font: inherit;
    font-weight: bold;
    background-color: #ffd01a;
    width: 100%;
    border: none;
    padding: 1rem;
    outline: none;
    box-sizing: border-box;
    border-radius: 1.5rem/50%;
    transition: background-color 100ms ease-in-out, transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }
  
  .card .actions .follow-btn button:hover{
    background-color: #efb10a;
    transform: scale(1.1);
  }
  
  .card .actions .follow-btn button:active{
    background-color: #e8a200;
    transform: scale(1);
  }
